<div th:fragment="scripts">
<script th:src="@{/styleadmin/js/jquery.min.js}"></script>
<script th:src="@{/styleadmin/js/jquery-ui.js}"></script>
<script th:src="@{/styleadmin/js/bootstrap.min.js}"></script>
<script th:src="@{/styleadmin/js/adminlte.min.js}"></script>
<script th:src="@{/styleadmin/js/dashboard.js}"></script>
<script src="tinymce/tinymce.min.js}"></script>
<script src="tinymce/config.js}"></script>
<script th:src="@{/styleadmin/js/function.js}"></script>
<script th:src="@{/ckeditors/ckeditor/ckeditor.js}"></script>
	<script>
         CKEDITOR.replace( 'editor1' );
     </script>
</div>